nrsource/convertClient.json
[{"id":"82028b65.46df48","type":"subflow","name":"Subflow 2","info":"","in":[{"x":40,"y":80,"wires":[{"id":"98a281db.b6b43"}]}],"out":[{"x":1040,"y":200,"wires":[{"id":"6248bfd5.7ed39","port":0}]}]},{"id":"98a281db.b6b43","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["fd006e99.cbfd2"]]},{"id":"fd006e99.cbfd2","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"client['Socio']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["456aec4.e490214"]]},{"id":"456aec4.e490214","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["b3465894.6e8268"]]},{"id":"b3465894.6e8268","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.number","pt":"msg","to":"client['Numero']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":80,"wires":[["2bb84d3a.260942"]]},{"id":"2bb84d3a.260942","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.dni","pt":"msg","to":"client['DNI']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["e64622fd.8ab02"]]},{"id":"e64622fd.8ab02","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.category","pt":"msg","to":"client['Categoria']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["c21a1620.062418"]]},{"id":"c21a1620.062418","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.photo","pt":"msg","to":"client['Foto']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["a24f7f0c.84646"]]},{"id":"a24f7f0c.84646","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.last","pt":"msg","to":"client['Ultima Cuota Paga']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":140,"wires":[["54ff7469.ff5b7c"]]},{"id":"54ff7469.ff5b7c","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.until","pt":"msg","to":"client['Valido Hasta']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":200,"wires":[["eefca030.aaa39"]]},{"id":"eefca030.aaa39","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.status","pt":"msg","to":"client['Estado']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["3b5c5d9f.d3e6d2"]]},{"id":"3b5c5d9f.d3e6d2","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.enter","pt":"msg","to":"client['Ingresa']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["6248bfd5.7ed39"]]},{"id":"6248bfd5.7ed39","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"client['IngresaMensaje']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[[]]}]