nrsource/database.json
[{"id":"23c30784.dd4b18","type":"tab","label":"DataBase","disabled":false,"info":""},{"id":"27a50d98.97f942","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name='log';","name":"Check table","x":310,"y":100,"wires":[["8db51ccb.c5f7b"]]},{"id":"8db51ccb.c5f7b","type":"switch","z":"23c30784.dd4b18","name":"Table exists","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":100,"wires":[["953ffafa.f699c8"],["725c669b.7d11f8"]],"outputLabels":["true","false"]},{"id":"725c669b.7d11f8","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"create table log (id integer primary key, nmbr varchar, rfid varchar, log timestamp)","name":"Create Table","x":710,"y":140,"wires":[["953ffafa.f699c8"]]},{"id":"9a26049c.d791f8","type":"link in","z":"23c30784.dd4b18","name":"CheckTable","links":["10b34daf.90c132","e8af62d.8227ca","90bb1518.fb66d8","8b95f66e.a64b18"],"x":175,"y":100,"wires":[["27a50d98.97f942"]]},{"id":"953ffafa.f699c8","type":"link out","z":"23c30784.dd4b18","name":"CheckTableOut","links":["99e74672.810a88","f65cd376.77271"],"x":895,"y":100,"wires":[]},{"id":"ddbb85a5.673d48","type":"comment","z":"23c30784.dd4b18","name":"CheckTableExists","info":"","x":250,"y":40,"wires":[]},{"id":"90d1b1b1.1b038","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"msg.topic","sql":"INSERT INTO log (nmbr, rfid) VALUES ({{msg.client['Numero']}}, msg.payload);","name":"Store table","x":430,"y":340,"wires":[["846ccfc6.3ed02"]]},{"id":"f65cd376.77271","type":"link in","z":"23c30784.dd4b18","name":"StoreTable","links":["953ffafa.f699c8"],"x":175,"y":300,"wires":[["15261dc3.bd8a62"]]},{"id":"846ccfc6.3ed02","type":"link out","z":"23c30784.dd4b18","name":"StoreTableOut","links":["21878917.ac6536"],"x":555,"y":300,"wires":[]},{"id":"da940151.6db5b","type":"comment","z":"23c30784.dd4b18","name":"StoreInTable","info":"","x":230,"y":240,"wires":[]},{"id":"3efaacc0.c59f84","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT * FROM log;","name":"Check table","x":390,"y":460,"wires":[["50a29ab8.cf5384"]]},{"id":"2dcf4994.155d26","type":"comment","z":"23c30784.dd4b18","name":"PrintTable","info":"","x":220,"y":400,"wires":[]},{"id":"21622e65.8e2312","type":"inject","z":"23c30784.dd4b18","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":460,"wires":[["3efaacc0.c59f84"]]},{"id":"50a29ab8.cf5384","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"e4d6d00.0d7433","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"DROP TABLE log;","name":"Check table","x":390,"y":600,"wires":[["c64b2ee2.3443b"]]},{"id":"84b223b5.3742e","type":"comment","z":"23c30784.dd4b18","name":"DropTable","info":"","x":220,"y":540,"wires":[]},{"id":"32041172.c432ae","type":"inject","z":"23c30784.dd4b18","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["e4d6d00.0d7433"]]},{"id":"c64b2ee2.3443b","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":600,"wires":[]},{"id":"15261dc3.bd8a62","type":"function","z":"23c30784.dd4b18","name":"Set","func":"msg.topic = \"INSERT INTO log (nmbr, rfid, log) VALUES (\";\nmsg.topic += msg.client['Numero'];\nmsg.topic += \",\";\nmsg.topic += msg.rfid;\nmsg.topic += \", CURRENT_TIMESTAMP);\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["90d1b1b1.1b038","c54e622c.81231"]]},{"id":"c54e622c.81231","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":260,"wires":[]},{"id":"eca1f880.e9e638","type":"sqlitedb","z":"","db":"/tmp/log","mode":"RWC"}]