nrsource/flows.json
[{"id":"c589bc17.1568","type":"tab","label":"Hardware","disabled":false,"info":""},{"id":"8946c0c7.0602","type":"tab","label":"Manejo de datos","disabled":false,"info":""},{"id":"23c30784.dd4b18","type":"tab","label":"Local DataBase","disabled":false,"info":""},{"id":"53e13c2b.8668c4","type":"tab","label":"Watchdog","disabled":false,"info":""},{"id":"d604922a.46f","type":"subflow","name":"Subflow 1","info":"","in":[{"x":140,"y":160,"wires":[{"id":"1b6d2243.9173fe"}]}],"out":[{"x":480,"y":400,"wires":[{"id":"2f51e3ba.34830c","port":0}]}]},{"id":"82028b65.46df48","type":"subflow","name":"Subflow 2","info":"","in":[{"x":40,"y":80,"wires":[{"id":"98a281db.b6b43"}]}],"out":[{"x":1040,"y":200,"wires":[{"id":"6248bfd5.7ed39","port":0}]}]},{"id":"5fedd842.f9dfc8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"ce29f8e8.86b918"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"ce29f8e8.86b918","port":0}]},{"x":455,"y":259,"wires":[{"id":"ce29f8e8.86b918","port":1}]}]},{"id":"448da88a.2205e8","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"","server":"192.168.0.1","port":"1433","encyption":true,"database":"","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false},{"id":"a58a78d0.dd6258","type":"websocket-listener","z":"8946c0c7.0602","path":"/ws/simple","wholemsg":"false"},{"id":"cfb9b335.8269a","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"980e729e.e7c3a","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"eca1f880.e9e638","type":"sqlitedb","z":"","db":"/tmp/log","mode":"RWC"},{"id":"1b6d2243.9173fe","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["d69c6812.954698"]]},{"id":"d69c6812.954698","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.name","pt":"msg","to":"query['Socio']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["da9482cf.0a8bf"]]},{"id":"36c647f7.381088","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.number","pt":"msg","to":"query['Numero']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":240,"wires":[["99e33cf3.d8e32"]]},{"id":"99e33cf3.d8e32","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.dni","pt":"msg","to":"query['DNI']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["28832f10.23844"]]},{"id":"28832f10.23844","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.category","pt":"msg","to":"query['Category']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["6157dfa1.0dd1e"]]},{"id":"6157dfa1.0dd1e","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.photo","pt":"msg","to":"query['Foto']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[["92b7afb7.34402"]]},{"id":"92b7afb7.34402","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.last","pt":"msg","to":"query['Ultima Cuota Paga']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":300,"wires":[["2f51e3ba.34830c"]]},{"id":"2f51e3ba.34830c","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.until","pt":"msg","to":"query['Valido Hasta']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[[]]},{"id":"da9482cf.0a8bf","type":"switch","z":"d604922a.46f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"hask","v":"query.time","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":140,"wires":[["5c43d953.b14208"],["2946c95f.fa5ca6"]]},{"id":"5c43d953.b14208","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":100,"wires":[["36c647f7.381088"]]},{"id":"2946c95f.fa5ca6","type":"change","z":"d604922a.46f","name":"","rules":[{"t":"set","p":"client.time","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":240,"wires":[["36c647f7.381088"]]},{"id":"98a281db.b6b43","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["fd006e99.cbfd2"]]},{"id":"fd006e99.cbfd2","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"client['Socio']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["456aec4.e490214"]]},{"id":"456aec4.e490214","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["b3465894.6e8268"]]},{"id":"b3465894.6e8268","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.number","pt":"msg","to":"client['Numero']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":80,"wires":[["2bb84d3a.260942"]]},{"id":"2bb84d3a.260942","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.dni","pt":"msg","to":"client['DNI']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["e64622fd.8ab02"]]},{"id":"e64622fd.8ab02","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.category","pt":"msg","to":"client['Categoria']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["c21a1620.062418"]]},{"id":"c21a1620.062418","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.photo","pt":"msg","to":"client['Foto']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["a24f7f0c.84646"]]},{"id":"a24f7f0c.84646","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.last","pt":"msg","to":"client['Ultima Cuota Paga']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":140,"wires":[["54ff7469.ff5b7c"]]},{"id":"54ff7469.ff5b7c","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.until","pt":"msg","to":"client['Valido Hasta']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":200,"wires":[["eefca030.aaa39"]]},{"id":"eefca030.aaa39","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.status","pt":"msg","to":"client['Estado']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["3b5c5d9f.d3e6d2"]]},{"id":"ce29f8e8.86b918","type":"function","z":"5fedd842.f9dfc8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"acf7ac9c.33212","type":"http response","z":"8946c0c7.0602","name":"","statusCode":"","headers":{},"x":590,"y":40,"wires":[]},{"id":"78caa8e3.f625c8","type":"http in","z":"8946c0c7.0602","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":221,"y":40,"wires":[["4dd65134.88a84"]]},{"id":"4dd65134.88a84","type":"template","z":"8946c0c7.0602","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"    <!DOCTYPE HTML>\n    <html>\n        <head>\n        <title>CRC-Acceso</title>\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n        <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.5.1.min.js\"></script>\n        <script type=\"text/javascript\">\n            var ws;\n            var wsUri = \"ws:\";\n            var loc = window.location;\n            console.log(loc);\n            if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n            // This needs to point to the web socket in the Node-RED flow\n            // ... in this case it's ws/simple\n            wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n            function wsConnect() {\n                console.log(\"connect\",wsUri);\n                ws = new WebSocket(wsUri);\n                //var line = \"\";    // either uncomment this for a building list of messages\n                ws.onmessage = function(msg) {\n                    console.log(msg);\n                    let json;\n                    try {\n                        json = JSON.parse(msg.data);\n                        console.log(json);\n                    } catch (error) {\n                        console.log(\"ERROR - JsonParse\");\n                    }\n                    if (json){\n                        addClient(json);\n                    }\n                }\n                ws.onopen = function() {\n                    // update the status div with the connection status\n                    document.getElementById('status').innerHTML = \"connected\";\n                    //ws.send(\"Open for data\");\n                    console.log(\"connected\");\n                }\n                ws.onclose = function() {\n                    // update the status div with the connection status\n                    document.getElementById('status').innerHTML = \"not connected\";\n                    // in case of lost connection tries to reconnect every 3 secs\n                    setTimeout(wsConnect,3000);\n                }\n            }\n            \n            function doit(m) {\n                if (ws) { ws.send(m); }\n            }\n\n            function addClient(client){\n            \t/*\nSocio: \"GOITIA JOSEFINA\"\nNumero: \"106318\"\nDNI: \"26111051\"\nCategoria: \"Dama - \"\nFoto: buffer[26281]\nUltima Cuota Paga: \"2000 - 01\"\nValido Hasta: \"15/02/2000\"\nUltima Cuota Paga Servicio: \"\"\nValido Hasta Servicio: \"\"\nEstado: \"VENTANILLA\"\nIngresa: 0\nIngresaMensaje: \"PASAR POR SECRETARIA\"\n            \t*/\n                let d = new Date(client.time);\n                let l = client.last;\n\n                let u = client.until;\n                \n                let row = \"\";\n                row += '<tr><th scope=\"row\" style=\"vertical-align: middle;\">';\n                row += d.getHours() + \":\" + (d.getMinutes()<10?('0'+d.getMinutes()):d.getMinutes());\n\n                let image_id = Date.now();\n                row += '</th><td id=\"' + image_id + '\"></td><td style=\"vertical-align: middle;\">';\n                \n                /*\n                row += '</th><td style=\"background-image: url(\\'';\n                if (client.photo) {\n                \trow += convertImage(client.photo.data);\n                } else {\n                \trow += \"\";\n                }\n                row += '\\')\" class=\"profile-picture\"></td><td>';\n                */\n                row += client.name;\n                row += '</td><td style=\"vertical-align: middle;\">';\n                row += client.number;\n                row += '</td><td style=\"vertical-align: middle;\">';\n                row += client.dni;\n                row += '</td><td style=\"vertical-align: middle;\">';\n                row += l;\n                row += '</td><td style=\"vertical-align: middle;\">';\n                row += u;\n                row += '</td>';\n                \n                if(client.category === \"Activo\")\n                    row += '<td class=\"text-success\" style=\"vertical-align: middle;\">' + client.category;\n                else\n                    row += '<td class=\"text-danger\" style=\"vertical-align: middle;\">' + client.category;\n\n                row += '</td></tr>'; // row ends\n\n                $('#tbody').prepend(row);\n                convertImage(image_id, client.photo.data);\n            }\n\n            function convertImage(el_id, bytesArray){\n            \tlet uInt8Array = new Uint8Array(bytesArray);\n\t\t\t\t\t    let i = uInt8Array.length;\n\t\t\t\t\t    \n\t\t\t\t\t    let binaryString = [i];\n\n\t\t\t\t\t    while (i--) {\n\t\t\t\t\t        binaryString[i] = String.fromCharCode(uInt8Array[i]);\n\t\t\t\t\t    }\n\n\t\t\t\t\t    let data = binaryString.join('');\n\n\t\t\t\t\t    let base64 = window.btoa(data);\n\n\t\t\t\t\t    document.getElementById(el_id).style = 'background-image: url(\"data:image/png;base64,' + base64 + '\");background-repeat:no-repeat;background-size:contain;background-position:center;width:8rem;height:8rem;';\n            }\n        </script>\n        </head>\n        <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n            <font face=\"Arial\">\n            <h1>Club Regatas Corrientes</h1>\n            <div id=\"messages\"></div>\n            <hr/>\n            <div id=\"status\">unknown</div>\n            </font>\n            <table class=\"table table-hover table-striped\">\n            <thead>\n                <th></th>\n                <th></th>\n                <th>Nombre</th>\n                <th>Número</th>\n                <th>DNI</th>\n                <th>Ult. Pago</th>\n                <th>Hasta</th>\n                <th></th>\n            </thead>\n                <tbody id=\"tbody\"></tbody>\n            </table>\n        </body>\n    </html>\n","x":418,"y":40,"wires":[["acf7ac9c.33212"]]},{"id":"8c6a3d73.61523","type":"inject","z":"8946c0c7.0602","name":"","topic":"","payload":"036831","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["3ebeaf50.2a798"]]},{"id":"9d0ad1b9.eb147","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"client","pt":"msg","to":"client[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":40,"wires":[["8b95f66e.a64b18"]]},{"id":"21878917.ac6536","type":"link in","z":"8946c0c7.0602","name":"TableChecked","links":["8b95f66e.a64b18"],"x":175,"y":420,"wires":[["653ef168.e3f78"]]},{"id":"8b95f66e.a64b18","type":"link out","z":"8946c0c7.0602","name":"","links":["21878917.ac6536"],"x":1575,"y":40,"wires":[]},{"id":"f2cf86b1.c88a38","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"rfid","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["f3a658db.f579c8","90aff924.06e318"]]},{"id":"c0317373.164d","type":"websocket in","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":140,"y":260,"wires":[["3ebeaf50.2a798"]]},{"id":"2e00b23a.cebcae","type":"debug","z":"8946c0c7.0602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":720,"wires":[]},{"id":"2b3f978a.f10408","type":"switch","z":"8946c0c7.0602","name":"History","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"history","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":560,"wires":[["8a92a31f.d075d"]]},{"id":"8a92a31f.d075d","type":"sqlite","z":"8946c0c7.0602","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT * FROM log;","name":"Get History","x":750,"y":560,"wires":[["7f0f4dbd.c54464"]]},{"id":"7f0f4dbd.c54464","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"history","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":560,"wires":[["87ed8ce5.58439"]]},{"id":"87ed8ce5.58439","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":640,"wires":[["37ed7f9e.e797a"]]},{"id":"37ed7f9e.e797a","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload.function","pt":"msg","to":"history","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":640,"wires":[["18178351.1638bd"]]},{"id":"18178351.1638bd","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"history","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":720,"wires":[["2e00b23a.cebcae","705dbcbf.de5154"]]},{"id":"705dbcbf.de5154","type":"websocket out","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":1100,"y":780,"wires":[]},{"id":"5070b671.250a88","type":"switch","z":"8946c0c7.0602","name":"LastHour","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"lasthour","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":820,"wires":[["5d47409.7fc71c"]]},{"id":"82a8d545.88f638","type":"subflow:5fedd842.f9dfc8","z":"8946c0c7.0602","name":"","env":[],"x":630,"y":1140,"wires":[["e667f507.707938"],["79333adb.b3e9b4","d5618549.a11418"]]},{"id":"f2c24bce.d60f98","type":"function","z":"8946c0c7.0602","name":"","func":"msg.clients.push(msg.client);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1060,"wires":[["82a8d545.88f638"]]},{"id":"e667f507.707938","type":"MSSQL","z":"8946c0c7.0602","mssqlCN":"448da88a.2205e8","name":"","query":"exec [dbo].[PorteriaRFIDDevolverSocio] @NumeroRfid = {{payload.rfid}}","outField":"query","returnType":0,"throwErrors":1,"x":800,"y":1060,"wires":[["1a71b220.3bf80e","36d00ea5.9fd972"]]},{"id":"79333adb.b3e9b4","type":"debug","z":"8946c0c7.0602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"clients","targetType":"msg","x":910,"y":1180,"wires":[]},{"id":"78a583d0.6961bc","type":"inject","z":"8946c0c7.0602","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1140,"wires":[["5d47409.7fc71c"]]},{"id":"5d47409.7fc71c","type":"sqlite","z":"8946c0c7.0602","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT * FROM log WHERE datetime(log) >= datetime('now', '-1 Hour');","name":"Get Last Hour","x":320,"y":1140,"wires":[["6b10562d.582e48"]]},{"id":"6b10562d.582e48","type":"function","z":"8946c0c7.0602","name":"","func":"msg.clients = [];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1140,"wires":[["82a8d545.88f638"]]},{"id":"7ecada20.9ed414","type":"subflow:d604922a.46f","z":"8946c0c7.0602","name":"","x":1160,"y":1060,"wires":[["f2c24bce.d60f98"]]},{"id":"1a71b220.3bf80e","type":"debug","z":"8946c0c7.0602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":1000,"y":960,"wires":[]},{"id":"36d00ea5.9fd972","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"query[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1060,"wires":[["7ecada20.9ed414"]]},{"id":"7940b2ac.48efdc","type":"websocket out","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":900,"y":1400,"wires":[]},{"id":"ee44f743.ba9438","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload.function","pt":"msg","to":"lasthour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1340,"wires":[["9f9e7011.955e1"]]},{"id":"9f9e7011.955e1","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"clients","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1400,"wires":[["7940b2ac.48efdc"]]},{"id":"d5618549.a11418","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1280,"wires":[["ee44f743.ba9438"]]},{"id":"27a50d98.97f942","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name='log';","name":"Check table","x":310,"y":100,"wires":[["8db51ccb.c5f7b"]]},{"id":"8db51ccb.c5f7b","type":"switch","z":"23c30784.dd4b18","name":"Table exists","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":100,"wires":[["953ffafa.f699c8"],["725c669b.7d11f8"]],"outputLabels":["true","false"]},{"id":"725c669b.7d11f8","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"create table log (id integer primary key, nmbr varchar, rfid varchar, log timestamp)","name":"Create Table","x":710,"y":140,"wires":[["953ffafa.f699c8"]]},{"id":"9a26049c.d791f8","type":"link in","z":"23c30784.dd4b18","name":"CheckTable","links":["10b34daf.90c132","e8af62d.8227ca","90bb1518.fb66d8"],"x":175,"y":100,"wires":[["27a50d98.97f942"]]},{"id":"953ffafa.f699c8","type":"link out","z":"23c30784.dd4b18","name":"CheckTableOut","links":["99e74672.810a88","f65cd376.77271"],"x":895,"y":100,"wires":[]},{"id":"ddbb85a5.673d48","type":"comment","z":"23c30784.dd4b18","name":"CheckTableExists","info":"","x":250,"y":40,"wires":[]},{"id":"90d1b1b1.1b038","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"msg.topic","sql":"INSERT INTO log (nmbr, rfid) VALUES ({{msg.client['Numero']}}, msg.payload);","name":"Store table","x":430,"y":340,"wires":[["846ccfc6.3ed02"]]},{"id":"f65cd376.77271","type":"link in","z":"23c30784.dd4b18","name":"StoreTable","links":["953ffafa.f699c8"],"x":175,"y":300,"wires":[["15261dc3.bd8a62"]]},{"id":"846ccfc6.3ed02","type":"link out","z":"23c30784.dd4b18","name":"StoreTableOut","links":[],"x":555,"y":300,"wires":[]},{"id":"da940151.6db5b","type":"comment","z":"23c30784.dd4b18","name":"StoreInTable","info":"","x":230,"y":240,"wires":[]},{"id":"3efaacc0.c59f84","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"SELECT * FROM log;","name":"Check table","x":390,"y":460,"wires":[["50a29ab8.cf5384"]]},{"id":"2dcf4994.155d26","type":"comment","z":"23c30784.dd4b18","name":"PrintTable","info":"","x":220,"y":400,"wires":[]},{"id":"21622e65.8e2312","type":"inject","z":"23c30784.dd4b18","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":460,"wires":[["3efaacc0.c59f84"]]},{"id":"50a29ab8.cf5384","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"e4d6d00.0d7433","type":"sqlite","z":"23c30784.dd4b18","mydb":"eca1f880.e9e638","sqlquery":"fixed","sql":"DROP TABLE log;","name":"Check table","x":390,"y":600,"wires":[["c64b2ee2.3443b"]]},{"id":"84b223b5.3742e","type":"comment","z":"23c30784.dd4b18","name":"DropTable","info":"","x":220,"y":540,"wires":[]},{"id":"32041172.c432ae","type":"inject","z":"23c30784.dd4b18","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["e4d6d00.0d7433"]]},{"id":"c64b2ee2.3443b","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":600,"wires":[]},{"id":"15261dc3.bd8a62","type":"function","z":"23c30784.dd4b18","name":"Set","func":"msg.topic = \"\";\nif (msg.client['Numero']){\n    msg.topic = \"INSERT INTO log (nmbr, rfid, log) VALUES (\";\n    msg.topic += msg.client['Numero'];\n    msg.topic += \",\";\n    msg.topic += msg.rfid;\n    msg.topic += \", CURRENT_TIMESTAMP);\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["90d1b1b1.1b038","c54e622c.81231"]]},{"id":"c54e622c.81231","type":"debug","z":"23c30784.dd4b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":260,"wires":[]},{"id":"8d2df6e.e7d4108","type":"function","z":"c589bc17.1568","name":"Hex2Dec","func":"let h = msg.payload.uid;\n\n/*if (h.length < 8){\n    h = h.substring(0,6) + '0' + h.substring(6);\n}*/\n\nmsg.payload = parseInt('0x' + h);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["2d40adb7.540942","b3f7464.e84acb8"]]},{"id":"fde8a42b.19d218","type":"inject","z":"c589bc17.1568","name":"Prueba1","topic":"","payload":"F7CD6225","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["388e45a4.7209ea"]]},{"id":"7772bb2c.d13ed4","type":"link in","z":"8946c0c7.0602","name":"query","links":["2d40adb7.540942"],"x":240,"y":140,"wires":[["f2cf86b1.c88a38"]]},{"id":"2d40adb7.540942","type":"link out","z":"c589bc17.1568","name":"","links":["7772bb2c.d13ed4"],"x":640,"y":340,"wires":[]},{"id":"c061250f.1a33f8","type":"inject","z":"c589bc17.1568","name":"","topic":"","payload":"2762084628","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":160,"wires":[["2d40adb7.540942"]]},{"id":"388e45a4.7209ea","type":"function","z":"c589bc17.1568","name":"SetUID","func":"let uid = msg.payload;\nmsg.payload = {};\nmsg.payload.uid = uid;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["8d2df6e.e7d4108"]]},{"id":"f3a658db.f579c8","type":"MSSQL","z":"8946c0c7.0602","mssqlCN":"448da88a.2205e8","name":"","query":"Declare @rfid varchar(20);\nDeclare @member varchar(20);\n\nSet @rfid = {{rfid}};\nSet @member = {{member}} + '';\n\nIF (not @rfid = '')\nBEGIN\n    Declare @T Table (Socio varchar(40));\n    Declare @V VARCHAR(40);\n    Insert @T EXEC calipso.[dbo].[PorteriaRFIDDevolverSocio] @NumeroRfId = @rfid;\n    Select @V = Socio from @T;\n    \n    EXEC calipso.[dbo].[Porteriacontrol] @Numero = @V, @DNI='',@Servicio='00001';\nEND\n\nIF (not @member = '')\nBEGIN\n    EXEC calipso.[dbo].[Porteriacontrol] @Numero = @member, @DNI='',@Servicio='00001';\nEND","outField":"client","returnType":"0","throwErrors":1,"x":660,"y":140,"wires":[["c892c3b2.c7bca","48b4fd0a.218cd4","da1e1e10.63a64","e549180b.858b48","61072a84.388eb4"]]},{"id":"de7da7db.5cea28","type":"debug","z":"8946c0c7.0602","name":"member","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"member","targetType":"msg","x":600,"y":220,"wires":[]},{"id":"c892c3b2.c7bca","type":"debug","z":"8946c0c7.0602","name":"QUERY ENDS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$now()","targetType":"jsonata","x":860,"y":240,"wires":[]},{"id":"c7b09ac2.a789f8","type":"websocket out","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":580,"y":440,"wires":[]},{"id":"653ef168.e3f78","type":"subflow:82028b65.46df48","z":"8946c0c7.0602","name":"Create client","env":[],"x":350,"y":440,"wires":[["c7b09ac2.a789f8","78b7dfb4.fb12a"]]},{"id":"78b7dfb4.fb12a","type":"debug","z":"8946c0c7.0602","name":"2CLIENT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":500,"wires":[]},{"id":"48b4fd0a.218cd4","type":"debug","z":"8946c0c7.0602","name":"QUERY RESPONSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"client","targetType":"msg","x":880,"y":300,"wires":[]},{"id":"f60fd4d8.33f5d8","type":"inject","z":"c589bc17.1568","name":"Prueba2","topic":"","payload":"46F682B","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":120,"y":100,"wires":[["388e45a4.7209ea"]]},{"id":"90aff924.06e318","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wait","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["d0d90b0a.cfd908"]]},{"id":"d0d90b0a.cfd908","type":"websocket out","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":640,"y":360,"wires":[]},{"id":"3b5c5d9f.d3e6d2","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.enter","pt":"msg","to":"client['Ingresa']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["6248bfd5.7ed39"]]},{"id":"6248bfd5.7ed39","type":"change","z":"82028b65.46df48","name":"","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"client['IngresaMensaje']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[[]]},{"id":"880391b6.64a54","type":"play_audio_file","z":"c589bc17.1568","filename":"/home/pi/beep-07.mp3","x":320,"y":420,"wires":[[]]},{"id":"da1e1e10.63a64","type":"link out","z":"8946c0c7.0602","name":"ErrorSound","links":["b970cf00.1b6db"],"x":801,"y":187,"wires":[]},{"id":"b970cf00.1b6db","type":"link in","z":"c589bc17.1568","name":"","links":["da1e1e10.63a64"],"x":177,"y":480,"wires":[["fc7ecc0d.160ce"]]},{"id":"fc7ecc0d.160ce","type":"switch","z":"c589bc17.1568","name":"Alerta ingreso","property":" client[0].Ingresa","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":327,"y":480,"wires":[["16c7ec85.d36133"]]},{"id":"16c7ec85.d36133","type":"play_audio_file","z":"c589bc17.1568","filename":"/home/pi/Wrong.mp3","x":540,"y":520,"wires":[[]]},{"id":"f88d1441.f76ba8","type":"inject","z":"c589bc17.1568","name":"","topic":"","payload":"123456789000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":420,"wires":[["2d40adb7.540942"]]},{"id":"e549180b.858b48","type":"switch","z":"8946c0c7.0602","name":"CheckNull","property":"client","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":140,"wires":[["dd761667.42dc98"],["65cc3a11.a6d6f4"]]},{"id":"9fdab77f.d9d158","type":"websocket out","z":"8946c0c7.0602","name":"","server":"a58a78d0.dd6258","client":"","x":1480,"y":220,"wires":[]},{"id":"65cc3a11.a6d6f4","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":220,"wires":[["9fdab77f.d9d158"]]},{"id":"b3f7464.e84acb8","type":"debug","z":"c589bc17.1568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"aca2f05b.65a8c","type":"debug","z":"c589bc17.1568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":380,"wires":[]},{"id":"6df07e7a.8236e","type":"inject","z":"c589bc17.1568","name":"Prueba1-b","topic":"","payload":"B75549E","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":120,"y":40,"wires":[["388e45a4.7209ea"]]},{"id":"61072a84.388eb4","type":"debug","z":"8946c0c7.0602","name":"DB RESPONSE CLIENT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"client","targetType":"msg","x":1300,"y":300,"wires":[]},{"id":"dd761667.42dc98","type":"switch","z":"8946c0c7.0602","name":"CheckNumero","property":"client[0][\"Numero\"]","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":60,"wires":[["9d0ad1b9.eb147"],["65cc3a11.a6d6f4"]]},{"id":"3ebeaf50.2a798","type":"change","z":"8946c0c7.0602","name":"","rules":[{"t":"set","p":"member","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["f3a658db.f579c8","de7da7db.5cea28"]]},{"id":"b82748ec.2933a8","type":"rc522-extra","z":"c589bc17.1568","name":"","blockedFor":"3","CSpin":"18","dataBlockAddr":8,"dataBlockLength":4,"x":90,"y":360,"wires":[["8d2df6e.e7d4108","aca2f05b.65a8c","880391b6.64a54"]]},{"id":"fde0c624.c77058","type":"ping","z":"53e13c2b.8668c4","mode":"timed","name":"","host":"192.168.0.1","timer":"3","inputs":0,"x":150,"y":200,"wires":[["5262e07a.67ae2"]]},{"id":"6646c024.ad1e2","type":"websocket out","z":"53e13c2b.8668c4","name":"","server":"a58a78d0.dd6258","client":"","x":540,"y":200,"wires":[]},{"id":"5262e07a.67ae2","type":"function","z":"53e13c2b.8668c4","name":"","func":"let h = msg.payload;\n\nif (h)\n    msg.payload = 'ok';\nelse\n    msg.payload = 'disconnected';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["6646c024.ad1e2"]]},{"id":"a1b1cfa.5bbb43","type":"inject","z":"53e13c2b.8668c4","name":"","topic":"connected","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["5262e07a.67ae2"]]},{"id":"450fe9fd.6789d8","type":"inject","z":"53e13c2b.8668c4","name":"","topic":"connected","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["5262e07a.67ae2"]]}]