nrsource/hardware.json
[{"id":"c589bc17.1568","type":"tab","label":"Hardware","disabled":false,"info":""},{"id":"ece0724d.d0ff","type":"rc522","z":"c589bc17.1568","name":"","blockedFor":5,"x":130,"y":340,"wires":[["8d2df6e.e7d4108"]]},{"id":"8d2df6e.e7d4108","type":"function","z":"c589bc17.1568","name":"Hex2Dec","func":"msg.payload = parseInt('0x' + msg.payload.uid);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["66568c17.f3ffb4","2d40adb7.540942"]]},{"id":"66568c17.f3ffb4","type":"debug","z":"c589bc17.1568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"fde8a42b.19d218","type":"inject","z":"c589bc17.1568","name":"Prueba1","topic":"","payload":"1CBE991A14‬","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["388e45a4.7209ea"]]},{"id":"2d40adb7.540942","type":"link out","z":"c589bc17.1568","name":"","links":["7772bb2c.d13ed4"],"x":640,"y":340,"wires":[]},{"id":"c061250f.1a33f8","type":"inject","z":"c589bc17.1568","name":"","topic":"","payload":"123456789012","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":180,"wires":[["2d40adb7.540942"]]},{"id":"20b9cd3e.3e8af2","type":"debug","z":"c589bc17.1568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.uid","targetType":"msg","x":480,"y":260,"wires":[]},{"id":"388e45a4.7209ea","type":"function","z":"c589bc17.1568","name":"SetUID","func":"let uid = msg.payload;\nmsg.payload = {};\nmsg.payload.uid = uid;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["20b9cd3e.3e8af2","8d2df6e.e7d4108"]]},{"id":"f60fd4d8.33f5d8","type":"inject","z":"c589bc17.1568","name":"Prueba2","topic":"","payload":"46F682B","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":100,"wires":[["388e45a4.7209ea"]]}]